:root{
    font-family: sans-serif;
    background-color: rgba(22, 241, 233, 0.144);
}
.container{
  width: 100vw;
  /* display: flex; */
}
.containerCard{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
nav{
    background-color: rgba(11, 247, 239, 0.144);
    padding: 1em; 
}
.welcome{
    background-color: rgba(130, 249, 170, 0.856);
    text-align: center;
    font-weight: 400;
    justify-self: center;
    padding: 2em;
    border: 1px solid rgba(94, 255, 0, 0.44);
    border-radius: 1em;
    min-width: 25vw;
}
/* .trip-card{
    margin: 1em auto;
    padding: 1em;
    width: 40vw;
    border: 1px solid rgb(0, 255, 157);
    background-color: rgba(11, 252, 171, 0.549);
    border-radius: 1em;
}
*/ .trip-card .imgCard{
    width: 18vw;
    
}  
.trip-card img{
    width: 20vw;
    height: 50%;
    border-radius: 2em 2em 0 0;
}  

.trip-card {
    border: 1px solid #78c0f0;
    border-radius: 2em ;
    
    margin: 10px;
    width: 20vw;
    min-height: 25vh;
    height: 65vh;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  

.trip-detail-page img{
    width: 40vw;
    object-fit: contain;
}
.trip-detail-page .box{

    padding: 1em;
    width: 40vw;
    background-color: rgba(27, 247, 7, 0.383);
    border-radius: 1em;
    box-shadow: 2px 2px 2px rgb(123, 96, 42);
    margin: 0 auto;
}
button,a{
  margin: 0.6em;
  font-size: 20px;
  padding: 0.4em;
  border: 1px solid rgb(12, 74, 107);
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
  background-color: rgba(0, 238, 255, 0.443);
  text-decoration: none;

}
.containerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;

}
.message{
    background-color: rgba(169, 250, 196, 0.856);
    text-align: center;
    justify-self: center;
    padding: 2em;
    border: 1px solid rgba(94, 255, 0, 0.44);
    border-radius: 1em;
    min-width: 25vw;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 2em;
    font-size: 2em;
    font-weight: 600;
    font-family: sans-serif;
    width: 32vw;
    height: 30vh;
    background-color: rgba(54, 240, 218, 0.771);
    text-align: center;
}